#SOptionsDropdown {
    width: 100%;
}

#ROOptionsDropdown {
    width: 100%;
}

#searchROBut {
    width: 100%;
}

#resultsDiv {
    margin-top: 10px;
}

#resultsTable {
    background-color: white;
    /*border-radius: 7px;*/
}

#resultsTable_filter {
    visibility: hidden;
}

.form {
    overflow:auto;
}

/*
* Repair Order Popup 
*/

.popup{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popupContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*
* Repair Order Details 
*/

#logoDiv {
    background-image: url(content/bcit.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    float: left;
}

#roTitle{
    font-weight: bold;
}

#roHeader{
    font-weight: bold;
}