#whole_page{
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
}
#main_div{
	top: 50px;
}

#main_cont{
	height: 80vh;
	background-color: #C4C4C4;
}
#search_result{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	height: 70%;
	bottom: 7%;
}

#search_input{
	margin-left: auto;
	margin-right: auto;
	top: 1.5%;
	display: inline-block;
}
#submit_button{
	margin-left: 67%;
	margin-top: auto;
	height: 7%;
	bottom: 5%;